[Desktop Entry]
Type=Application
Name=Software
Comment=Discover, install and update software
Exec=infiltrator-software
Icon=infiltrator-software
Terminal=false
Categories=System;PackageManager;GTK;
StartupWMClass=net.ssmith.infiltrator.software
StartupNotify=true
