[Unit]
Description=Check Infiltrator Software automatic package updates

[Timer]
OnBootSec=10min
OnUnitActiveSec=5min
AccuracySec=5min
Persistent=true

[Install]
WantedBy=timers.target
