[Desktop Entry]
Type=Application
Name=Infiltrator Software Session Updates
Comment=Apply enabled Flatpak and Cinnamon Spice automatic updates
Exec=infiltrator-software-session-updater
OnlyShowIn=X-Cinnamon;
X-GNOME-Autostart-Delay=45
NoDisplay=true
