<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Infiltrator Projects</vendor>
  <vendor_url>https://github.com/Infiltrator-Projects/Software</vendor_url>

  <action id="net.ssmith.infiltrator.software.manage-updates">
    <description>Install or update system software</description>
    <message>Authentication is required to install or update system software.</message>
    <defaults>
      <!--
        Package/source mutation is permitted from local, inactive and remote
        desktop sessions only after explicit administrator authentication.
        Do not retain authorization: helper arguments are transaction-specific.
      -->
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/infiltrator-software-update-helper</annotate>
  </action>
</policyconfig>
